node_modules
vendor
.git
.env
.env.production
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
.editorconfig
.gitattributes
phpunit.xml
tests/
